.ui-widget
	font-size inherit
	font-family inherit
.ui-widget-content
	color #999
.ui-menu .ui-menu-item
	border-bottom 1px solid #ccc
	margin-bottom 6px
	em
		color black
		font-style normal
		font-weight bold
.ui-widget-content .ui-state-focus
	border 1px solid #74b2e2
	background #e4f1fb url("images/ui-bg_glass_100_e4f1fb_1x400.png") 50% 50% repeat-x
	font-weight normal
	color #0070a3
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited
	color #0070a3
	text-decoration none