/* Estilos ventana filtro de búsqueda */
#filterZone
	position absolute
	left 70px
	top 100px
	z-index 12
	width 460px
	/* Fix display block of select2 javascript plugin */
	.select2-container
		display block
	#top-filterZone
		height 38px
		padding 0
		background-color rgba(250, 250, 250, 0.6)
		.title-window
			float left
			padding-left 15px
			padding-top 3px
			cursor move
			h4
				font-family 'Open Sans' Helvetica Arial
				font-weight 700
				text-transform uppercase
				margin 0px
				padding 6px
		.minimize-maximize-button
			float right
			height 38px
			width 38px
			border-left-color #cccccc
			border-left-style solid
			border-left-width 1px
			background-color rgba(31, 90, 132, 1)
			.caret
				display inline-block
				width 0
				height 0
				vertical-align top
				border-top 7px solid #fff
				border-right 7px solid transparent
				border-left 7px solid transparent
				content ""
				margin-top 16px
				margin-left 12px
	#filtersContainer
		display block
		position absolute
		top 240px
		#searchConditions
			width 460px
			float left
			.searchBox-shadow
				box-shadow 0px 2px 6px rgba(0, 0, 0, 0.3), 0px 4px 15px -5px transparent
				transition box-shadow 200ms cubic-bezier(0.52, 0, 0.48, 1) 0s
			.searchBox
				background-color #FFF
				border: 1px solid transparent;
				border-width 0px 0px 1px 1px
				border-style solid none solid solid
				border-color transparent -moz-use-text-color transparent transparent
				-moz-border-top-colors none
				-moz-border-right-colors none
				-moz-border-bottom-colors none
				-moz-border-left-colors none
				border-image none
				border-right: 0;
				border-radius 2px 0px 0px 2px
				box-sizing border-box
				-moz-box-sizing: border-box;
				height 35px
				outline medium none
				width 400px
				vertical-align top
				margin-top 3px
				float left
				input
					border medium none
					padding 7px
					margin-left 5px
					height auto
					width 100%
					background url('data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw%3D%3D') repeat scroll 0% 0% transparent
					outline medium none
					box-sizing border-box
					font-size 15px
					line-height 20px
					font-weight 300
			.searchButtons
				margin-top 3px
				float left
				button.searchButon
					font-size 0
					background-color #8a5123
					border 0px none
					border-radius 0px 2px 2px 0px
					box-shadow 0px 2px 6px rgba(0, 0, 0, 0.3)
					height 32px
					width 44px
					text-align center
					vertical-align top
					float left
					&:before
						background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAiCAYAAAA6RwvCAAABVUlEQVRYw+2YQRGEMAxFkVAJlYAEJCABCUhAQiWshJWABCRUAg7+XsrMTkibNDBdDvtnek0fSfqToQPQPeE8AuK5IDkBGAC8AESctQEIAHxXKTUIgB7ACr0CAHcrCIAJNm0A+ltALkAc2jWlKoKkcnCKCdCR0i3p4lNmroJwPRGEgC6VhGo2gaTXUQUhwEQryKsmUOaZU40WEOoTk8Eb3iTGYgGhcgaQmcRYL4N0BjHl+RnIeDuI1iFJ8EBivC0gm7bRCsGj1ktKIIGx6pohNjNZ9RYQnxliTgHRM1a/XrH4kIEZhEzstT0mgeTmBpJZzemJjgk65naTO9aAPvOFtavAWMqKdjHyhcxIW9quGRVVO2uh/lTr8fWMqbEw1cvzV/AlXXico2c884IgwZhADMY2STBNQDQwzUAkmKYgAoxvClKAGZqDMDBb89IwRjlI0/f/W+ID3tQLQPib2qQAAAAASUVORK5CYII=') repeat scroll 0% 0% / 17px auto transparent
						content ""
						display block
						height 17px
						margin 0px auto
						width 17px
					&:hover
						background-color #7a4113
				button.addSearchElementButon
					background-color rgba(112, 121, 135, 1);
					border 0px none
					border-radius 0px 2px 2px 0px
					box-shadow 0px 2px 6px rgba(0, 0, 0, 0.3)
					height 32px
					text-align center
					vertical-align top
					width 15px
					z-index -1
					float right
					&:before
						background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMAQMAAABsu86kAAAAA3NCSVQICAjb4U/gAAAABlBMVEUAAAD///+l2Z/dAAAAAnRSTlMA/1uRIrUAAAAJcEhZcwAAFf0AABX9Ac1wUWEAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzbovLKMAAAAFXRFWHRDcmVhdGlvbiBUaW1lADgvMTIvMTSjn3hOAAAAE0lEQVQImWNgY2BARv8/gBCqIABKJQQbBsLVZwAAAABJRU5ErkJggg==') repeat scroll 0% 0% / 12px auto transparent
						content ""
						display block
						height 12px
						margin 0px auto
						width 12px
					&:hover
						background-color black
				button.removeSearchElementButon
					background-color rgba(112, 121, 135, 1);
					border 0px none
					border-radius 0px 2px 2px 0px
					box-shadow 0px 2px 6px rgba(0, 0, 0, 0.3)
					height 32px
					text-align center
					vertical-align top
					width 15px
					z-index -1
					float right
					&:before
						background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMAQMAAABsu86kAAAAA3NCSVQICAjb4U/gAAAABlBMVEUAAAD///+l2Z/dAAAAAnRSTlMA/1uRIrUAAAAJcEhZcwAAFf0AABX9Ac1wUWEAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzbovLKMAAAAFXRFWHRDcmVhdGlvbiBUaW1lADgvMTIvMTSjn3hOAAAAEUlEQVQImWNgQAX/P4AQKgAARc8D3/Mt8qwAAAAASUVORK5CYII=') repeat scroll 0% 0% / 12px auto transparent
						content ""
						display block
						height 12px
						margin 0px auto
						width 12px
					&:hover
						background-color black
#filterZone.open
	.filterbox
		margin-right 0px
		margin-top 0px
	#top-filterZone
		background-color rgba(250, 250, 250, 0.6)
	.minimize-maximize-button
		background-color #2b7fbc !important
		.caret
			border-top 0px !important
			border-bottom 7px solid #fff
#occurrenceDetail
	background-color rgba(255, 255, 255, 0.2)
	position absolute
	left 0px
	top 0px
	right 60px
	border 0px none
	border-radius 0px 2px 2px 0px
	box-shadow 0px 2px 6px rgba(0, 0, 0, 0.3)
	#topOccurrenceDetail
		background-color rgba(255, 255, 255, 0.8)
		padding-top 5px
		padding-right 5px
		padding-left 5px
		height 30px
		a.close-icon-filter-help
			float right
			&:hover
				cursor pointer
	#occurrenceDetailContainer
		background-color rgba(255, 255, 255, 0.8)
		height 230px
		overflow-y scroll
		overflow-x hidden
		overflow -moz-scrollbars-vertical
		-webkit-overflow-scrolling touch
		padding-top 10px
		padding-left 10px
		padding-right 10px
#results
	display none
	background-color rgba(255, 255, 255, 0.2)
	position absolute
	left 0px
	top 300px
	right 60px
	border 0px none
	border-radius 0px
	box-shadow 0px 2px 6px rgba(0, 0, 0, 0.3)
	#mostProbably
		background-color rgba(138, 81, 35, 0.8)
		overflow-x hidden
		padding-left 10px
		padding-right 10px
		padding-bottom 10px
		table.results
			width 100%
			td.head
				color #EAC600
				font-weight bold
				padding-top 10px
			td
				padding-bottom 3px
				color white
				padding-left 5px
				padding-right 5px
/* Fin estilos ventana filtro de búsqueda */