border-radius(val)
	-webkit-border-radius: val
	-moz-border-radius: val
	border-radius: val

transition(val)
	-webkit-transition: val
	-moz-transition: val
	-ms-transition: val
	-o-transition: val
	transition: val