/* Request processing window */
#processing-request
	position absolute
	left 50%
	width 404px
	margin-left -202px
	top 208px
	text-align left
	color #333333
	z-index 500000
	.processing-request-container
		padding 10px
		h3
			font-family 'Open sans', Helvetica, Verdana, Helvetica, Arial
		.loading-area
			margin-top 10px
			margin-left 170px
			margin-bottom 10px
/* End request processing window */