/* Heredados diseño Carlos Cubillos */
body
	font-size 80%
	color #333
	background #f2eee3 url("../images/noise1.png") repeat 0 0
	font-family 'Open sans', Helvetica, Verdana, Helvetica, Arial
	text-align left
	padding 0
	margin 0
h4
	font-size 1.3em
h1, h2, h3, h4, h5, h6
	font-family 'Economica', Helvetica, Arial, sans-serif
	text-shadow 0 1px 0 rgba(255, 255, 255, 0.5)
p
	line-height 1.3em
	margin 10px 0 10px 0
		a
			border 0
			color #2288C9
			padding 0 5px
			&:hover
			input[type=submit]:hover
				border 0
				opacity .6
				background #2288C9
				color white
			&:link
				border-bottom 0px dashed transparent
				text-decoration none
fieldset
	border 0px
	margin 10px 0
	-webkit-border-radius 20px
	border-radius 20px
	padding 20px
/* Fin diseño heredado Carlos Cubillos */

/* Scroll bars styles */
::-webkit-scrollbar
	-webkit-appearance none
	width 7px
::-webkit-scrollbar-thumb
	border-radius 4px
	background-color rgba(0,0,0,.5)
	-webkit-box-shadow 0 0 1px rgba(255,255,255,.5)
/* End scroll bars styles */

/* Internet Explorer 9 gradient compatibility */
.gradient
	filter none