/* HEADER */
/* HEADER */
.sib
	background #fc9540
	height 53px
	color white
	text-transform uppercase
	min-width  1050px
	position  fixed
	width  100%
	z-index  11
	top  0px
	&:after
		content ""
		display block
		height 8px
		width 100%
		background  url("/images/standard/shadow_top_clear.png") no-repeat top center
		margin-top  0px
	> div
		max-width  1600px
		margin 0 auto
	nav
		vertical-align top
		text-align center
		line-height 1em
		position  relative
		right  0px
		margin 0 auto
		a
			max-width 90px
			display inline-block
			padding 13px
			vertical-align top
			min-height 27px
			&:hover
				background rgba(255, 255, 255, 0.3)
	a
		color white
		padding 0px
		display inline-block
		vertical-align top
		margin 0 10px
		text-decoration none
	.top_menu
		width  550px
		margin  0 auto
		display  inline
	.logo
		border-radius( 0 0 15px 15px)
		background-color #fffef3
		padding 10px 13px 13px 13px
		position  absolute
		display block
		z-index 2
		&:hover
			filter unquote('alpha(opacity=100)')
			-moz-opacity 1
			opacity 1
			-webkit-box-shadow  0px 0px 5px 0px rgba(0, 0, 0, 0.2)
			box-shadow 0px 0px 5px 0px rgba(0, 0, 0, 0.2)
		div
			max-width  1500px
			margin  0 auto
	.share_icons
		float  right
		display  inline-block
		position  absolute
		right  12px
		a
			vertical-align middle !important
			margin  0!important
		span
			width 0px
			border-left #9bc2de 1px solid
			display inline-block
			height 20px
			vertical-align middle
			margin  0 4px
#quickSearch
	float right
	margin -20px 0 0 0
	padding 10px
	text-align right
	background-color #1888c9
	-webkit-border-radius 0 0 20px 20px
	border-radius 0 0 20px 20px
	display none
	fieldset
	form
		margin 0
		padding 0
		border 0
	#query
		margin 0px
		padding 7px
		width 340px
		font-size 1em
		-webkit-border-radius 15px
		border-radius 15px
		background-color #fffff
		background rgba(255,255,255,0.8)
		border 0px
		-webkit-box-shadow inset 3px 3px 2px 0px rgba(0, 0, 0, 0.2)
		box-shadow inset 3px 3px 2px 0px rgba(0, 0, 0, 0.2)
	#go
		display inline-block
		margin 2px 0 0 -35px
		padding 13px
		color white
		text-decoration none
		border 0
		position absolute
		background url("../images/lupa.png") no-repeat center center