/* Estilos area contenido mapa */
.container-fluid
	padding-left 0px
	padding-right 0px
#pane
	position relative
	top 0px
	bottom 0px
	right 0px
	width 100%
#mapa
	width 100%
	padding 0px
	height 600px
#map-filter-area
	.tabbable
		.nav
			margin-top 0px
			margin-bottom 3px
			margin-left 20px
			margin-right 20px
			position fixed
			z-index 10
			width 720px
			right 0px
			background rgba(255,255,255,0.8)
			color #1775bf
			box-shadow: 0 2px 14px rgba(0,0,0,0.3);
		.tabla a
			background-image url("/images/standard/ico_tabla_b.png")
		.active.tabla a
			background-image url("/images/standard/ico_tabla_w.png") !important
		.active.mapa a
			background-image url("/images/standard/ico_mapcol_w.png") !important
		.mapa a
			background-image url("/images/standard/ico_mapcol_b.png")
		.tab-content
			.tab-pane
				margin-top 52px
	#actual-search-stats-data
		float left
		padding 4px 15px
		font-size 1.1em
		line-height 30px
		.subtitle
			font-weight normal
/* Fin estilos area contenido mapa */