/* Notes processing window */
#notes
	position absolute
	top 280px
	.information-container
		padding-left 10px
		padding-top 2px
		h3
			font-family 'Open sans', Helvetica, Verdana, Helvetica, Arial
			text-shadow 0 1px 0 rgba(100,100,100,0.5)
			font-size 0.9em
/* End notes processing window */