doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/bower_modules/components-bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/bower_modules/leaflet/dist/leaflet.css')
		link(rel='stylesheet', href='/stylesheets/leaflet/plugins/distance.css')
		link(rel='stylesheet', href='/stylesheets/leaflet/plugins/osb.css')
		link(rel='stylesheet', href='/bower_modules/leaflet-fullscreen/Control.FullScreen.css')
		link(rel='stylesheet', href='/bower_modules/leaflet-zoomslider/src/L.Control.Zoomslider.css')
		link(rel='stylesheet', href='/bower_modules/leaflet.markercluster/dist/MarkerCluster.css')
		link(rel='stylesheet', href='/bower_modules/leaflet.markercluster/dist/MarkerCluster.Default.css')
		link(rel='stylesheet', href='/bower_modules/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css')
		link(rel='stylesheet', href='/bower_modules/jquery-ui/themes/cupertino/jquery-ui.css')
		link(rel='stylesheet', href='/bower_modules/jstree/dist/themes/default/style.min.css')
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		.wrapper
			.ribbon-wrapper-green
				.ribbon-green BETA
		#wrapper
			include includes/header
			block content
			include includes/footer
